<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실시간 TOP NEWS</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="loading hide">
      <img src="/image/Rocket-unscreen.gif" alt="" />
    </div>
    <div class="wrap">
      <main>
        <div class="news-title-box">
          <button>업데이트</button>
          <div class="timer"></div>
          <ul class="news-title-list"></ul>
        </div>
        <div class="news-content-box"></div>
      </main>
    </div>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
