doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='./css/style.css')
    script(src='./js/main.js' type='module')
    title data-fetching
  body
    block content
      h3 데이터 통신 제어
    .wrap
      section.news-list
        button.update 업데이트
        .title-list
      section.news-content
        .news-article
