doctype html
html
    head
        title fe-data-fetching
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")  
        link(rel='shortcut icon', href='#')  
        link(rel='stylesheet', href='../css/style.css')  
        script(type='module', src='../js/index.js', defer) 
    body
        main.display-row
            section.section__left
                button#update-btn.border-round 업데이트
                div#update-Description 3초 뒤에 자동 업데이트
                ul.border-round.section__left__news_title
            section.section__right.border-round
                article.section__right__article.border-round
