doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css", rel="stylesheet")
    link(rel="stylesheet", href="../css/style.css")
    script(type="module", src="../js/index.js") 
  body
    .wrap
      header
        h1.title NEWS
      main.content
        article
          .inner
            button.button-update UPDATE
            .title-list
              
        section.news-article
          .inner
            .news-article-content
              h3 headline
              p.article Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla commodi dolores fugit minus odio repellat atque molestiae quam eveniet optio assumenda deserunt impedit, quidem doloremque dicta debitis. Fuga, nemo quo.
    
