<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="main-container">
            <section class="update-section border">
                <button class="update-button">업데이트</button>
                <div class="current-second">38초뒤에 자동 업데이트</div>
                <ul class="category-list">
                    <li>호텔신라 재무분야 전문가 이강일, 자회사 SBTM 새 활로 찾는다</li>
                    <li>호텔신라 재무분야 전문가 이강일, 자회사 SBTM 새 활로 찾는다</li>
                    <li>호텔신라 재무분야 전문가 이강일, 자회사 SBTM 새 활로 찾는다</li>
                    <li>호텔신라 재무분야 전문가 이강일, 자회사 SBTM 새 활로 찾는다</li>
                </ul>
            </section>
            <section class="main-news-section border">
                <div class="main-news-title">SBTM 추가 된 HDMI 2.1a 발표, PC용 HDR 환경 개선되나?</div>
                <div class="main-news-content">HDMI 라이센스를 관리하는 HDMI Licensing Administrator (HDMI LA)가 CES 2022에 앞서 진행한
                    가상
                    프레스 브리핑에서 새로운 HDMI 2.1a 규격을 공개해 화제다.

                    이번에 소개된 HDMI 2.1a는 물리적인 대역폭이나 지원 해상도, 프레임 규격은 2.1과 동일하지만 기존 버전에는 없던 Source-Based Tone Mapping
                    (SBTM)이 추가
                    됐으며 이를 통해 PC와 같은 다양한 콘텐츠를 동시에 재생하는 멀티 윈도우 환경에서 SDR과 HDR 콘텐츠의 톤 맵핑 문제를 해결할 수 있는 것으로 소개됐다.

                    구체적으로는 디스플레이 기기만 처리했던 톤 맵핑 기능 중 일부를 소스 기기에서 제어할 수 있는 만든 것인데 이 기능을 사용하면 고정된 밝기와 색 체계에 맞춰 모든 콘텐츠를 일괄
                    처리하던
                    방식 대신 콘텐츠와 디스플레이 특성에 맞춰 소스 기기 스스로 최적화가 가능하다.

                    예를 들어 SDR 콘텐츠와 HDR 콘텐츠를 동시에 재생할때 지금까지는 HDR 모드로 전환한 후 SDR 콘텐츠의 밝기 및 컬러를 HDR에 맞춰야 했지만 이러한 작업 없이 SDR
                    영상을 원본
                    그대로 재생하는 것이 가능해진다.

                    하지만, SBTM을 사용하기 위해서는 소스 기기와 디스플레이 기기 모두 HDMI 2.1a를 지원해야 하고 필수 조건이 아닌 옵션으로 추가된 기능이라서 빠른 보급은 어려울 전망인데
                    펌웨어
                    업데이트만으로 해당 기능을 추가할 수 있다니 그나마 다행이다.

                    참고로, SBTM은 기존 HDR 표준을 대체하는 기술은 아니며 돌비도 PC 기반 돌비 비전을 통해 이와 유사한 기능을 이미 제공하고 있다. 돌비 비전을 지원하는 일부 윈도우 기반
                    노트북들은 HDR 모드가 아닌 SDR 상태에서도 돌비 비전으로 녹화된 HDR 영상을 감상할 수 있다.</div>
            </section>
        </div>
    </main>
</body>

</html>