@import "./reset.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  padding: 10px;
  display: flex;
  width: 900px;
  height: 600px;
}

.news-list {
  width: 40%;
}

.update {
  height: 50px;
  width: 100%;
  background-color: rgb(128, 100, 251);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
}

.title-list {
  height: 530px;
  margin-top: 20px;
  p {
    white-space: nowrap; /* 텍스트가 넘칠 때 줄 바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 말줄임 */
    margin: auto 10px;
  }
}

.title-list,
.news-article {
  background-color: rgb(210, 200, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-content {
  width: 60%;
}

.news-article {
  height: 100%;
  margin-left: 20px;
  div {
    margin: auto;
    font-size: 2rem;
  }
  p {
    margin: 0px 30px;
    line-height: 1.5;
  }
}
